@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300;400;500;700;800&display=swap");

:root {
  --bgColor: rgb(126, 183, 185);
  --headingColor: rgb(43, 43, 43);
  --titleColor: rgb(204, 204, 204);
  --textColor: rgb(243, 243, 243);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  min-width: 320px;
  overflow-x: hidden;
}

body,
#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 500px;
  background: var(--bgColor);
  color: var(--textColor);
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.heading {
  margin-bottom: clamp(1.5rem, 10vw, 3rem);
  padding: 0 2.5%;
  color: var(--headingColor);
  font-family: "Abril Fatface", cursive;
  font-size: clamp(3rem, 10vw, 7rem);
}

.text-box {
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: clamp(1.5rem, 10vw, 3rem);
  padding: clamp(1.5rem, 10vw, 3rem);
  background: rgba(0, 0, 0, 0.65);
  border-radius: 16px;
}

.text-box .title {
  margin-bottom: clamp(1.5rem, 10vw, 3rem);
  color: var(--titleColor);
  font-size: clamp(1.3rem, 2.5vw, 2.5rem);
}

.text-box .text {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
